*{
font-family: monospace;
}

.contenedor
{
  width: 100%;
  height: 1335px;
  justify-content: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.barra_superior
{
  width: 100%;
  height: 37px;
  background-color: black;
  justify-content: flex-end;
  border-radius: 7px;
  font-family: monospace;
  color: white;
}
.inicio_sesion
{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 15px;
  margin: 5px;
  background-color: transparent;
}
.borde_izq
{
  width: 60%;
  height: 15px;
  background-color: transparent;
  padding: 5px;
  margin: 3px;
}
.borde_centro
{
  width: 20%;
  height: 15px;
  background-color: transparent;
  padding: 5px;
  margin: 3px;
}
.borde_final
{
  width: 20%;
  height: 15px;
  background-color: transparent;
  padding: 5px;
  margin: 3px;
}

.barra_superior_second
{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: white;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo_cap
{
  width: 16%;
  height: 190px;
  color: white;
  background-color: white;
  border-radius: 7px;
  padding-left: 50px;
}
.espacio
{
  width: 56%;
  height: 80px;
  padding: 15px;
  color: white;
  background-color: black;
  justify-content: center;
  border-radius: 7px;
  margin: 5px;
  margin-top: 50px;
}
.carrito_com
{
  width: 16%;
  height: 80px;
  color: black;
  background-color: white;
  border-radius: 7px;
  padding: 15px;
  margin: 5px;
  margin-top: 50px;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.Texto_Carrito{
  margin-top: 30px;
  margin-left: 15px;
}

#bus
{
  width: 71.43%;
  height: 30px;
  margin-top: 24px;
  margin-left: 42px;
  border-radius: 4px;
}
.opciones_busqueda
{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: black;
  justify-content: center;
  border-radius: 8px;
}
.opcion {
  width: 20%;
  height: 50px;
  margin: 10px;
  color: white;
  justify-content: center;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 40px;
}
.barra_registro{
  padding-left: 200px;
  padding-top: 30px;

}
p.tipolet{font-family: "platino",sans-serif;
          font-size: 25px;
          }

.registro_general{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 680px;
  margin: 5px;
  margin-left: 30px;
  background-color: transparent;
}
.registro{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 60%;
  height: 650px;
  margin: 5px;
  background-color: white;
}
#nombre{
  background-color: transparent;
  width: 70%;
  height: 30px;
  margin: 5px;
  border-radius: 7px;
}
#apellido{
  background-color: transparent;
  width: 70%;
  height: 30px;
  margin:5px;
  border-radius: 7px;
}
#correo{
  background-color: transparent;
  width: 70%;
  height: 30px;
  margin: 10px;
  border-radius: 7px;
}
#contrasena{
  background-color: transparent;
  width: 70%;
  height: 30px;
  margin: 10px;
  border-radius: 7px;
}
#rcontrasena{
  background-color: transparent;
  width: 70%;
  height: 30px;
  margin: 10px;
  border-radius: 7px;
}
#edad{
  background-color: transparent;
  width: 70%;
  height: 30px;
  margin: 10px;
  border-radius: 7px;
}

.registro_redes{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  height: 350px;
  margin: 20px;
  background-color: white;
}
.Mantente_dia
{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 7px;
  background-color: black;
  font-family: monospace;
  justify-content: center;
}

.caja_nomBus{
  width: 20%;
  height: 20px;
  color: white;
  background-color: transparent;
  text-align: right;
  margin-top: 15px;

  }
  .caja_bus
  {
    width: 70%;
    height: 20px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 23px;
  }
  #subscripcion
  {
    width: 60%;
    height: 30px;
    border-radius: 4px;
    margin-left: 20px;
  }

.Final_pag
{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 150px;
  margin: 10;
  background-color: lightgray;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 7px;
}

.anuncios
{
  width: 24%;
  height: 120px;
  margin: 5px;
  justify-content: center;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-radius: 7px;
  padding-top: 20px;
  padding-left: 50px;
}
.pie2
{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  justify-content: center;
  align-content: center;
}
.derechos
{
  width: 72%;
  height: 80px;
  color: white;
}

.enlaces{
  width: 0.08%;
  height: 1px;
  margin: 2px;
}
a{
	text-decoration: none;
  color: white;
  font-family: monospace;
}
a.FAQs{
	text-decoration: none;
  color: black;
}
.linea{
    text-align: center;
}
p{
  font-family: monospace;
}
li{
  font-family: monospace;
  list-style-type: disc;
}
.boton{
  background-color: white;
  color: black;
  margin-left: 10px;
  width: 15%;;
  height: 30px;
}
.boton2{
  background-color: black;
  color: white;
  margin-left: 150px;
  width: 40%;;
  height: 40px;
}
#WVN{
  dnisplay: none;
  font-size: 70%;
  font-family: monospace;
  color: red;
}
#WVA{
  display: none;
  font-size: 70%;
  font-family: monospace;
  color: red;
}
#WVE{
  display: none;
  font-size: 70%;
  font-family: monospace;
  color: red;
}
#WVC{
  display: none;
  font-size: 70%;
  font-family: monospace;
  color: red;
}
#WVP{
  display: none;
  font-size: 70%;
  font-family: monospace;
  color: red;
}
#WVRP{
  display: none;
  font-size: 70%;
  font-family: monospace;
  color: red;
}
