.barra_superior {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 1250px;
  height: 30px;
  background-color: gray;
}
.inicio_sesion {
  background-color: transparent;
  width: 1250px;
  height: 15px;
  margin: 5px;
}
.logo_carrito {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 1250px;
  height: 60px;
  background-color: white;
}
.logo_c {
  background-color: transparent;
  width: 625px;
  height: 25px;
  margin: 10px;
}
.opciones_busqueda {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 1250px;
  height: 35px;
  background-color: black;
}
.opcion {
  background-color: transparent;
  font: 110% sans-serif;
  width: 312px;
  height: 25px;
  margin: 5px;
  color: white;
}
.promociones {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 1250px;
  height: 500px;
  background-color: lightgrey;
}
.top {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  font: 110% sans-serif;
  width: 1250px;
  height: 50px;
  background-color: black;
  color: white;
}
.top_ventas {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1250px;
  height: 300px;
  background-color: lightgrey;
}
.fotos {
  background-color: white;
  width: 300px;
  height: 140px;
  margin: 5px;
  color: black;
}
.catalagos {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1250px;
  height: 250px;
  background-color: white;
}
.cata {
  background-color: lightgrey;
  width: 600px;
  height: 200px;
  margin: 25px;
}
.listas {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1250px;
  height: 250px;
  background-color: black;
}
.lista {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 25px;
  color: white;
}
.redes {
  background-color: transparent;
  width: 500px;
  height: 200px;
  margin: 25px;
  color: white;
}
.formas_pago {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 1250px;
  height: 60px;
  margin: 5px;
  background-color: lightgray;
}
ol {
  list-style: none;
}
